{% extends "layout_admin_page.html" %}
{% block content1 %}

<div id="title">
  <h1 id="hid">  Employee Delete </h1>
</div>

{% endblock content1%}
{% block content2 %}
<form method="POST" onSubmit="return confirm('Are you sure you wish to delete the employee?');">
        <div class="form-control">
            <fieldset id="field2">
              <label for="files"> Employees: </label>
              <select name="ename" id="ename">
                <optgroup label="Name">
                  {% for m in list1 %}
                  <option value="{{m.E_Name}}">{{ m.E_Name }}</option>
                  {% endfor %}
                </optgroup>
              </select>
            </fieldset>
            <input class="btn btn-success" type="submit" name="submit" value="submit" >
          </div>

  </form>


{% endblock content2%}
