{% extends "layout_admin_page.html" %}
{% block content1 %}

<div id="title">
  <h1 id="hid">  Project Delete </h1>
</div>

{% endblock content1%}
{% block content2 %}
<form method="POST" onSubmit="return confirm('Are you sure you wish to delete the project?');">
        <div class="form-control">
            <fieldset id="field2">
              <label for="files"> Project: </label>
              <select name="pnames" id="pnames">
                <optgroup label="Name">
                  {% for m in list1 %}
                  <option value="{{m.P_Name}}">{{ m.P_Name }}</option>
                  {% endfor %}
                </optgroup>
              </select>
            </fieldset>
            <input class="btn btn-success" type="submit" name="submit" value="Submit Form" >

  </form>



{% endblock content2%}
