{% extends "layout_admin_page.html" %}
{% block content1 %}
  <div id="title">
    <h1 id="hid">  HR </h1>
  </div>

{% endblock content1%}

{% block content2 %}

<form method="POST" >

        <div class="form-control">
            <fieldset id="field2">
              <label for="files"> Project: </label>
              <select name="pnames" id="pnames">
                <optgroup label="Name">
                  {% for m in list1 %}
                  <option value="{{m.P_Name}}">{{ m.P_Name }}</option>
                  {% endfor %}
                </optgroup>
              </select>
            </fieldset>
          </div>

          <br>


              <fieldset id="field1">
                <label for="files"> Field: </label>
                <select name="field" id="field">
                  <optgroup label="HR">
                    <option value="ESIC">ESIC</option>
                    <option value="PF">PF</option>
                    <option value="Salary">Salary</option>
                    <option value="Professional Taxes">Professional Taxes</option>
                    <option value="Illegal Complainces">Illegal Complainces</option>
                    <option value="Attendance">Attendance</option>
                    <option value="Insuarance">Insuarance</option>
                  </optgroup>
                  <optgroup label="Admin">
                    <option value="Cleaning Activity">Cleaning Activity</option>
                    <option value="PC Maintain">PC Maintain</option>
                    <option value="Software License">Software License</option>
                    <option value="Training Employee">Training Employee</option>
                  </optgroup>
                </select>
              </fieldset>

              <br>

              <div class="form-control">
                <fieldset id="field1">
                  <label for="files">Employee Names: </label>
                  <select name="enames" id="enames">

                    <optgroup label="Name">
                      {% for o in list %}
                      <option value="{{o.E_Name}}">{{ o.E_Name }}</option>
                      {% endfor %}
                    </optgroup>

                  </select>
                </fieldset>
              </div>

              <br>
              
          <div class="inputs_user">
          <div class="col my-col">
            <div id="submit">
              <div class="submit">
                 {{ form.submit(class="button") }}
               </div>
            </div>
          </div>
        </div>

        </form>
{% endblock content2%}
