{% extends "layout_admin_page.html" %}
{% block content1 %}
          {% endblock content1%}
          {% block content2 %}

        <div class="col-md-9 col-sm-6 my-col">
          <div class="row clearfix">
       <div class="col-md-12 column">
        <div style="height:400px;overflow:auto;">
         <table class="table table-sm table-dark">

       <thead>
         <tr>
           <th scope="col">Employee ID</th>
           <th scope="col">Employee Name</th>
           <th scope="col">E-Mail</th>
           <th scope="col">Password</th>
           <th scope="col"></th>
         </tr>
       </thead>
          <tbody style="height: 100px; overflow: auto">
         {% for items in liste %}
         <form method="POST">
         <tr>
           <th scope="row">{{items.id}}</th>
           <input type="hidden" id="id" name="id" value="{{ items.id }}">
           <td>{{items.E_Name}}</td>
           <td>{{items.email}}</td>
           <td><input type="text" id="password" name="password"><br><br></td>
           <td><input class="btn btn-success" type="submit" name="submit" value="submit"></td>
         </tr>
         </form>
         {% endfor %}
       </tbody>
     </table>

        </div>
      </div>
        </div>
        </div>

        {% endblock content2%}
