{% extends "layout_admin_page.html" %}
{% block content1 %}
{% endblock content1%}
{% block content2 %}


        <div class="col-md-9 col-sm-6 my-col">
          <div class="row clearfix">
       <div class="col-md-12 column">
        <div style="height:400px;overflow:auto;">
         <table class="table table-sm table-dark">
       <thead>
         <tr>
           <th scope="col">Project ID</th>
           <th scope="col">Project Name</th>
         </tr>
       </thead>
       <tbody>
         {% for items in listp %}
         <tr>
           <th scope="row">{{items.P_id}}</th>
           <td>{{items.P_Name}}</td>
         </tr>
         {% endfor %}
       </tbody>
     </table>

        </div>
      </div>
      </div>
      </div>
{% endblock content2%}
