{% extends "layout_admin_page.html" %}
{% block content1 %}

          {% endblock content1%}
          {% block content2 %}

        <div class="col-md-9 col-sm-6 my-col">
          <div class="row clearfix">
       <div class="col-md-12 column">
        <div style="height:400px;overflow:auto;">
         <table class="table table-sm table-dark">
       <thead>
         <tr>
           <th scope="col">Employee Name</th>
           <th scope="col">Project Name</th>
           <th scope="col">Field</th>
       </thead>
       <tbody>
         <tbody>
               {% set loopid = 1 %}
           {% for items in list2 %}

                     <form method="POST">



          <tr>

            {% set ename= elist[loop.index-1] %}
            {% set pname= plist[loop.index-1] %}
            {% set list2var= list2[loop.index-1] %}

            <input type="hidden" id="tid" name="tid" value="{{ list2var.T_id }}">
            <td>{{ename.E_Name}}</td>
            <td>{{pname.P_Name}}</td>
            <td> {{items.Field}}</td>
            <td> <input class="btn btn-success" type="submit" name="action" value="delete"></td>
          </tr>
          </form>
              {% endfor %}

         </tbody>
       </tbody>
     </table>

        </div>
      </div>
        </div>
        </div>

        {% endblock content2%}
